---
layout: default
title: Playing
permalink: /playing/
---

<h4>TEST ZONE</h4>
<p><a href="/sloclap-absolver/" class="internal-link">Absolver</a> ← <em>This link required for graph for some reason</em></p>
<br>

<table id="sortable" class="display" style="width: 100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Platform</th>
      <th>Hours</th>
      <th>Trophies</th>
      <th>Percent</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    {% assign sorted = site.pages | sort: 'date' | reverse %}
    {% for item in sorted %}
    {% if item.category contains "videogame" %}
    <tr>
      <td><a href="{{ item.url }}" title="{{ item.title }}" class="internal-link">{{ item.title }}</a></td>
  		<td>{{ item.platform }}</td>
      <td>{{ item.durationHours }}</td>
  		<td>{{ item.trophies }}</td>
      <td>{{ item.percent }}</td>
      <td>{{ item.date | date: '%Y-%m-%d' }}</td>
		</tr>
    {% endif %}
  	{% endfor %}
  </tbody>

  <tfoot>
    <tr>
      <th>Title</th>
      <th>Platform</th>
      <th>Hours</th>
      <th>Trophies</th>
      <th>Percent</th>
      <th>Date</th>
    </tr>
  </tfoot>
</table>
