---
layout: default
category: activity
title: Playing
permalink: /playing/
---

<!-- Category Counts -->
{% assign totalPlaying = 0 %}
  {% for page in site.pages %}
    {% if page.category contains "videogame" and page.progress contains "now" %}
      {% assign totalPlaying = totalPlaying | plus: 1 %}
    {% endif %}
  {% endfor %}

{% assign totalComplete = 0 %}
  {% for page in site.pages %}
    {% if page.category contains "videogame" and page.progress contains "complete" %}
      {% assign totalComplete = totalComplete | plus: 1 %}
    {% endif %}
  {% endfor %}

{% assign totalRetired = 0 %}
  {% for page in site.pages %}
    {% if page.category contains "videogame" and page.progress contains "retired" %}
      {% assign totalRetired = totalRetired | plus: 1 %}
    {% endif %}
  {% endfor %}

{% assign totalBacklog = 0 %}
  {% for page in site.pages %}
    {% if page.category contains "videogame" and page.progress contains "backlog" %}
      {% assign totalBacklog = totalBacklog | plus: 1 %}
    {% endif %}
  {% endfor %}

{% assign totalWishlist = 0 %}
  {% for page in site.pages %}
    {% if page.category contains "videogame" and page.progress contains "wishlist" %}
      {% assign totalWishlist = totalWishlist | plus: 1 %}
    {% endif %}
  {% endfor %}

<!-- Category Tabs -->
<div class="tab">
  <button class="tablinks" onclick="openTab('playing')">Playing ({{ totalPlaying }})</button>
  <button class="tablinks" onclick="openTab('complete')">Complete ({{ totalComplete }})</button>
  <button class="tablinks" onclick="openTab('retired')">Retired ({{ totalRetired }})</button>
  <button class="tablinks" onclick="openTab('backlog')">Backlog ({{ totalBacklog }})</button>
  <button class="tablinks" onclick="openTab('wishlist')">Wishlist ({{ totalWishlist }})</button>
</div>

<br>

<div id="playing" class="tabcontent">
  <table class="display sortable5" style="width: 100%">
    <thead>
      <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>Hours</th>
        <th>Trophies</th>
        <th>Percent</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      {% for page in site.pages %}
        {% if page.category contains "videogame" and page.progress contains "now" %}
          <tr>
            <td><a href="{{ page.url }}" title="{{ page.title }}" class="internal-link">{{ page.title }}</a></td>
        		<td>{{ page.platform }}</td>
            <td>{{ page.durationHours }}</td>
        		<td>{{ page.trophies }}</td>
            <td>{{ page.percent }}</td>
            <td>{{ page.date | date: '%Y-%m-%d' }}</td>
      		</tr>
        {% endif %}
    	{% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>Hours</th>
        <th>Trophies</th>
        <th>Percent</th>
        <th>Date</th>
      </tr>
    </tfoot>
  </table>
</div>

<div id="complete" class="tabcontent">
  <table class="display sortable5" style="width: 100%">
    <thead>
      <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>Hours</th>
        <th>Trophies</th>
        <th>Percent</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      {% for page in site.pages %}
        {% if page.category contains "videogame" and page.progress contains "complete" %}
          <tr>
            <td><a href="{{ page.url }}" title="{{ page.title }}" class="internal-link">{{ page.title }}</a></td>
        		<td>{{ page.platform }}</td>
            <td>{{ page.durationHours }}</td>
        		<td>{{ page.trophies }}</td>
            <td>{{ page.percent }}</td>
            <td>{{ page.date | date: '%Y-%m-%d' }}</td>
      		</tr>
        {% endif %}
    	{% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>Hours</th>
        <th>Trophies</th>
        <th>Percent</th>
        <th>Date</th>
      </tr>
    </tfoot>
  </table>
</div>

<div id="retired" class="tabcontent">
  <table class="display sortable5" style="width: 100%">
    <thead>
      <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>Hours</th>
        <th>Trophies</th>
        <th>Percent</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      {% for page in site.pages %}
        {% if page.category contains "videogame" and page.progress contains "retired" %}
          <tr>
            <td><a href="{{ page.url }}" title="{{ page.title }}" class="internal-link">{{ page.title }}</a></td>
            <td>{{ page.platform }}</td>
            <td>{{ page.durationHours }}</td>
            <td>{{ page.trophies }}</td>
            <td>{{ page.percent }}</td>
            <td>{{ page.date | date: '%Y-%m-%d' }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>Hours</th>
        <th>Trophies</th>
        <th>Percent</th>
        <th>Date</th>
      </tr>
    </tfoot>
  </table>
</div>

<div id="backlog" class="tabcontent">
  <table class="display sortable" style="width: 100%">
    <thead>
      <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>HowLongToBeat</th>
      </tr>
    </thead>

    <tbody>
      {% for page in site.pages %}
        {% if page.category contains "videogame" and page.progress contains "backlog" %}
          <tr>
            <td><a href="{{ page.url }}" title="{{ page.title }}" class="internal-link">{{ page.title }}</a></td>
            <td>{{ page.platform }}</td>
            <td>{{ page.howlongtobeat }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>HowLongToBeat</th>
      </tr>
    </tfoot>
  </table>
</div>
</div>

<div id="wishlist" class="tabcontent">
</div>

<script>
  function openTab(tabId) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabId).style.display = "block";
    event.currentTarget.className += " active";
  }

  // Show the first tab by default
  openTab('playing');
</script>
