---
layout: default
category: garden
title: Video Games
---

<table class="display nowrap videoGamesSort" style="width: 100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Developer</th>
      <th>Publisher</th>
      <th>Released</th>
    </tr>
  </thead>

  <tbody>
    {% for page in site.pages %}
      {% if page.category contains "videogame" %}
        <tr>
          <td><a href="{{ page.url }}" class="internal-link">{{ page.title }}</a></td>
          <td>{{ page.developer }}</td>
          <td>{{ page.publisher }}</td>
          <td>{{ page.releaseDate }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>

  <tfoot>
    <tr>
      <th>Title</th>
      <th>Developer</th>
      <th>Publisher</th>
      <th>Released</th>
    </tr>
  </tfoot>
</table>
