/* Collapsible Table */

@media only screen and (max-width: 756px) {

  .collapsible {
    display: none;
  }

}

/* Using W3 Schools guide: https://www.w3schools.com/howto/howto_js_tabs.asp */

.tab {
  overflow: hidden;
  background-color: #ffffff;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border-width: 1px;
  border-color: #8b88e6;
  border-style: none none solid none;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #efefff;
}

/* Create an active/current tablink class */
.tab button.active {
  border-width: 1px;
  border-color: #8b88e6;
  border-style: solid solid none solid;

}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}
