---
layout: default
category: garden
title: Planters
---

<h3>Art</h3>

<div id="art">
  <p>
    {% for page in site.pages %}
      {% if page.category contains "wiki" and page.subcategory contains "art" %}
        <a href="{{ page.url }}" class="internal-link">{{ page.title }}</a><br>
      {% endif %}
    {% endfor %}
  </p>
</div>

<br>


<h3>Associations</h3>

<div id="associations">
  <p>
    {% for page in site.pages %}
      {% if page.category contains "wiki" and page.subcategory contains "associations" %}
        <a href="{{ page.url }}" class="internal-link">{{ page.title }}</a><br>
      {% endif %}
    {% endfor %}
  </p>
</div>

<br>


<h3>Athletics</h3>

<div id="athletics">
  <p>
    {% for page in site.pages %}
      {% if page.category contains "wiki" and page.subcategory contains "athletics" %}
        <a href="{{ page.url }}" class="internal-link">{{ page.title }}</a><br>
      {% endif %}
    {% endfor %}
  </p>
</div>

<br>


<h3>Authorship</h3>

<div id="authorship">
  <p>
    {% for page in site.pages %}
      {% if page.category contains "wiki" and page.subcategory contains "authorship" %}
        <a href="{{ page.url }}" class="internal-link">{{ page.title }}</a><br>
      {% endif %}
    {% endfor %}
  </p>
</div>

<br>
