<!doctype html>
<html lang="en">


  <!-- Site Head -->
  <head>

    <!-- Meta Details -->
    <meta charset="utf-8">
    <meta name="author" content="Eric Stein">
    <meta name="description" content="Eric Stein is a game producer, publisher, designer, and researcher, located in the Fraser Valley of British Columbia. This site is a kind of digital garden, memex, or thought cabinet.">
    <meta name="keywords" content="Games, Philosophy, Literature, Design, Organisation, Research">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">

    <!-- Meta Properties -->
    <meta property="og:title" content="Eric Stein" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://steinea.work" />
    <meta property="og:image" content="{{ site.baseurl }}/assets/img/og-1200x360.png" />

    <!-- Tab Bar Title -->
    <title>{{ page.title }}</title>

    <!-- Links -->
    <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/feed.xml" title="steinea.work">
    <link rel="canonical" href="https://steinea.work">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

    <!-- Stylesheet Links -->
    <!-- Subsequent rules overwright antecedent rules -->

      <!-- Nicolas Gallagher's Normalize CSS Reset-->
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/normalize.css">

      <!-- Maxime Vaillancourt's Code CSS -->
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/code.css">

      <!-- Maxime Vaillancourt's Style CSS -->
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">

      <!-- DataTables CSS -->
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/datatables.css">

      <!-- My Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/custom.css">

  </head>

  <!-- Site Body -->
  <body>

    <!-- Page Header -->
    <div id="header">

      <!-- Header -->
      <header></header>

      <!-- Navigation -->
      <nav>
        <a href="/" class="nav-link">home</a>
        <a href="/posts/" class="nav-link">posts</a>
        <a href="/workshop/" class="nav-link">workshop</a>
      </nav>

      <!-- Headings -->
      <h1 id="title" class="p-name">{{ page.title }}</h1>
      <h2>{% if page.subtitle %}{{ page.subtitle }}{% endif %}</h2>
      <h3>{% if page.author %}{{ page.author }}{% endif %}</h3>

      <!-- Microformats... not sure if I can hide them as comments...
      <a class="u-url" href="{{ page.url }}"></a>
      <a class="p-category" title="{{ page.category }}"></a>
      <a class="p-author h-card" rel="author" href="https://steinea.work"></a>
      <time class="dt-published" datetime="{{ page.date }}"></time>
      -->

      <hr><br>

    </div>

    <!-- Page Content -->
    <div id="content" class="e-content">
      <main>
        {{ content }}
      </main>
    </div>

    <!-- Page Footer -->
    <div id="footer">
      <footer></footer>
    </div>

    <!-- jQuery Javascript -->
    <script src="/assets/js/jquery-3.7.1.min.js"></script>

    <!-- DataTables Javascript -->
    <script src="/assets/js/datatables.js"></script>

    <script>
      // Use Javascript 'new' instead of old dom '$' initialize

      new DataTable (".bibliographySort", {
        order: [2, "desc"],
        pageLength: 100,
        responsive: true,
      });

      new DataTable (".booksSort", {
        order: [0, "asc"],
        responsive: true,
      });

      new DataTable (".commonplaceSort", {
        order: [3, "desc"],
        responsive: true,
      });

      new DataTable (".cardsSort", {
        order: [0, "asc"],
        responsive: true,
      });

      new DataTable (".discSort", {
        order: [0, "asc"],
        responsive: true,
      });

      new DataTable (".gardenSort", {
        order: [3, "desc"],
        pageLength: 100,
        responsive: true,
      });

      new DataTable (".jerseySort", {
        order: [3, "desc"],
        responsive: true,
      });

      new DataTable (".systemsSort", {
        order: [0, "asc"],
        responsive: true,
      });

      new DataTable (".vinylSort", {
        order: [0, "asc"],
        pageLength: 50,
        responsive: true,
      });

      new DataTable (".warhammerSort", {
        order: [0, "asc"],
        pageLength: 25,
        responsive: true,
      });



      new DataTable (".playingDateSort", {
        order: [5, "desc"],
        responsive: true,
      });

      new DataTable (".playingHLTBSort", {
        order: [2, "asc"],
        responsive: true,
      });

      new DataTable (".videoGamesSort", {
        order: [0, "asc"],
        responsive: true,
      });

      new DataTable (".ludographyReleaseDate", {
        order: [3, "asc"],
        pageLength: 50,
        responsive: true,
      });

      new DataTable (".booksDateSort", {
        order: [3, "desc"],
        pageLength: 50,
        responsive: true,
      });

      new DataTable (".wishlistSort", {
        order: [0, "asc"],
        pageLength: 100,
        responsive: true,
      });

    </script>

    <!-- Mermaid Javascript -->
    <script src="/assets/js/mermaid.min.js"></script>

    <script>
      $(document).ready(function () {
        mermaid.initialize({
          startOnLoad:true,
          theme: "default",
        });
        window.mermaid.init(undefined, document.querySelectorAll(".language-mermaid"));
      });
    </script>

  </body>

</html>
